html {
  font-size: 10px;
}

@font-face {
  font-family: "Red hat text bold";
  src: url("../../assets/fonts/RedHatText-Bold.ttf");
}

@font-face {
  font-family: "Red hat text semibold";
  src: url("../../assets/fonts/RedHatText-SemiBold.ttf");
}

@font-face {
  font-family: "Red hat text regular";
  src: url("../../assets/fonts/RedHatText-Regular.ttf");
}
